@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --blue-0: #122029;
    --blue-1: #36495a;
    --blue-2: #6f8ca0;
    --blue-3: #8dbdde;
    --blue-4: #cadaed;
    --gray-0: #222222;
    --gray-1: #4b5458;
    --gray-2: #9aa4ac;
    --white: #ffffff;
    --green: #24a731;
    --red: #c71a1a;
    --yellow: #dea12a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: white;
}

body {
    background-color: var(--blue-1);
}

a {
    text-decoration: none;
}
