:local .main-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
}

:local .left-menu-container {
    display: block;
    width: 275px;
    background-color: var(--blue-1);
}

:local .container {
    display: block;
    width: calc(100% - 275px);
    background-color: var(--blue-0);
}
