:local .left-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
:local .friends-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px);
}
