:local .status {
    background-color: var(--gray-1);
    width: 32px;
    height: 24px;
    border-radius: 5px;

    min-width: 32px;
}
:local .status[data-status="1"] {
    background-color: var(--green);
}
:local .status[data-status="2"] {
    background-color: var(--red);
}
:local .status[data-status="3"] {
    background-color: var(--yellow);
}
